body {
    background-color: #293251;
}

#city-search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#city-name-input {
    padding: 8px;
    border: none;
    border-radius: 10px;

}

#city-name-input:focus,
#search-btn:focus {
    outline: none;
}

#search-btn {
    color: white;
    background: black;
    border: none;
    padding: 8px;
    width: 5rem;
    border-radius: 4px;
    cursor: pointer;
}

#search-btn:hover {
    color: white;
    background: #7682ad;
}

.container {
    width: 300px;
    height: 340px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 10px;
    padding-bottom: 50px;
}

.app-title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 14px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #555d79;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #80232c;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    display: block;
}

.weather-container {
    width: 300px;
    margin-top: 12px;
    height: 260px;
    background-color: rgb(233, 240, 239);
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}


.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

#city-name p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}